<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" [src]="event?.cover" alt="Cover">
    </div>
  </div>
</div>

<div class="container">
  <h1 class="display-3">{{ event?.name }}</h1>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/events', id, 'overview']" routerLinkActive="active">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/events', id, 'schedule']" routerLinkActive="active">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/events', id, 'tickets']" routerLinkActive="active">Tickets</a>
    </li>
  </ul>
</div>

          <hr>

<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-12 col-md-9">

          <!--Tickets-->
          <div *ngIf="event?.tickets[0]; else elseBlock">
            <app-tickets [tickets] = "event?.tickets" [ticketSeller] = "event?.ticketSeller"></app-tickets>
          </div>
          <ng-template #elseBlock>
            <h5>No ticket information available.</h5>
          </ng-template>
          <hr>

          <!-- Reviews -->
          <app-reviews [reviews]="event?.reviews"></app-reviews>
        </div>

        <!-- sidebar -->
        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let day of event?.schedule">
              <strong>{{ day.start | date:'yMMMMEEEEd'}}</strong> <em>{{ day.start | date:'shortTime'}}-{{ day.end | date:'shortTime'}}</em>
            </li>
          </ul>
          <!-- Directions -->
          <h2>Location:</h2>
          <app-event-map [location] = "event?.location" [zoom] = 12></app-event-map>
        </div>
      </div>

    </div>
