<div class="row mt-4">
  <div class="col-sm-12">
    <h2>Tickets</h2>
  </div>
  <ng-container *ngIf="tickets.length > 0">
    <div class="col-sm-6" *ngFor="let ticket of tickets">
      <div class="card card-inverse card-warning text-center pt-2 mb-4">
        <div class="card-block card-title">
          <h1 class="m-b-2"><i class="fa fa-ticket display-2"></i> {{ ticket.price.value | currency:ticket.price.currency:true }}</h1>
          <h6 class="text-light">{{ ticket.name }} | {{ ticket.price.conditions }}</h6>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="tickets.length == 0">
    <div class="col-sm-12">
      <h5>No tickets information available...</h5>
    </div>
  </ng-container>

  <div class="col-sm-12" *ngIf="ticketSeller">
    <h5>Ticket seller:
      <a href={{ticketSeller}}>{{ticketSeller}}</a>
    </h5>
  </div>
</div>
