<div class="row mt-4">
  <div class="col-sm-12">
    <h2>Schedule</h2>
  </div>
  <ng-container *ngIf="schedule.length > 0">
    <div class="col" *ngFor="let day of schedule">
      <div class="card card-inverse card-info text-center pt-2 mb-4">
        <div class="card-block card-title">
          <h1 class="m-b-2"><i class="fa fa-calendar display-2"></i> {{ day.start | date:'shortDate'}}</h1>
          <h6 class="text-light">{{ day.start | date:'shortTime'}}-{{ day.end | date:'shortTime'}}</h6>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="schedule.length == 0">
    <div class="col-sm-12">
      <h5>No schedule information available...</h5>
    </div>
  </ng-container>
</div>
