<div class="row text-center">
  <div class="btn-group" style="margin-left:auto;margin-right:auto;">
    <div
      class="btn btn-primary"
      mwlCalendarPreviousView
      [view]="'month'"
      [(viewDate)]="viewDate">
      Previous
    </div>
    <div
      class="btn btn-secondary"
      (click)="monthSelectorActivated=!monthSelectorActivated">
      <div *ngIf="monthSelectorActivated; else currentDate">
        {{currentYear}}
      </div>
      <ng-template #currentDate>
        {{ viewDate | date:"MMMM y" }}
      </ng-template>
    </div>
    <div
      class="btn btn-primary"
      mwlCalendarNextView
      [view]="'month'"
      [(viewDate)]="viewDate">
      Next
    </div>
  </div>
</div>
<br>
<div *ngIf="monthSelectorActivated==false; else monthSelector">
  <mwl-calendar-month-view
    [events]="calendarEvents"
    [viewDate]="viewDate"
    [weekStartsOn]=1>
  </mwl-calendar-month-view>
</div>
<ng-template #monthSelector>
  <div class="col-4">
    <div class="card card-faded text-center pt-2 mb-4" *ngFor="let month of months[this.currentYear]" (click)="monthSelectorActivated = false; viewDate = month.date">
      <div class="card-block card-title">
        <h5 class="text-light lead">{{ month.name }}</h5>
        <br>
        <div class="circle" [ngClass]="{blue: month.numberOfEvents != 0, grey: month.numberOfEvents == 0}">{{ month.numberOfEvents }}</div>
      </div>
    </div>
  </div>
</ng-template>
