.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
.circle.blue {
  background: #6872eb;
}
.circle.grey {
  background: #cbcdee;
}
