<div class="row text-center">
  <div class="btn-group" style="margin-left:auto;margin-right:auto;">
    <div *ngIf="monthSelectorActivated==false; else yearNavbar">
      <div
        class="btn btn-primary"
        style="cursor: pointer;"
        (click)="previousMonth()">
        Previous
      </div>
      <div
        class="btn btn-secondary"
        style="cursor: pointer;"
        (click)="monthSelectorActivated=true;activeDayIsOpen=false">
          {{ viewDate | date:"MMMM y" }}
      </div>
      <div
        class="btn btn-primary"
        style="cursor: pointer;"
        (click)="nextMonth()">
        Next
      </div>
    </div>
    <ng-template #yearNavbar>
    <div
      class="btn btn-primary"
      style="cursor: pointer;"
      (click)="previousYear();">
      Previous
    </div>
    <div
      class="btn btn-secondary"
      style="cursor: pointer;"
      (click)="yearSelectorActivated=true">
      {{currentYear}}
    </div>
    <div
      class="btn btn-primary"
      style="cursor: pointer;"
      (click)="nextYear();">
      Next
    </div>
    </ng-template>
  </div>
</div>
<div
  class="btn btn-secondary"
  style="cursor: pointer;"
  (click)="monthSelectorActivated=false;
  yearSelectorActivated=false;
  gotoDate(resetDate);
  currentYear=resetYear;">
  Reset
</div>
<br /><br />
<div style="z-index:2;position: absolute;">
  <div *ngIf="yearSelectorActivated==false; else yearSelector">
    <div *ngIf="monthSelectorActivated">
      <!-- 4x3 -->
      <div class="row">
        <div
          class="card card-faded text-center"
          *ngFor="let month of yearsAndMonths[currentYear].months"
          (click)="monthSelectorActivated = false; gotoDate(month.date)"
          style="width: 33.333%;"
          >
          <div class="card-block card-title" style="cursor: pointer;">
            <h5 class="text-light lead">{{ month.name }}</h5>
            <br>
            <div class="circle" [ngClass]="{blue: month.numberOfEvents != 0, grey: month.numberOfEvents == 0}">{{ month.numberOfEvents }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #yearSelector>
  <!-- 3x3 -->
    <div class="row">
      <div
        class="card card-faded text-center"
        *ngFor="let year of yearRange(currentYear)"
        (click)="yearSelectorActivated = false; currentYear = year.year"
        style="width: 33.333%;">
        <div class="card-block card-title" style="cursor: pointer;">
          <h5 class="text-light lead">{{ year.year }}</h5>
          <br>
          <div class="circle" [ngClass]="{blue: year.numberOfEvents != 0, grey: year.numberOfEvents == 0}">{{ year.numberOfEvents }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<angular2-fullcalendar
  [options]="calendarOptions"
  >
</angular2-fullcalendar>
